
.cabecalho{
    height: 10vh;
    width: 100vw;
}

.cabecalho_li{
    display: inline-block;
    margin: 1%;
}

.cabecalho_li_a{
    display: inline-block;
    text-align: center;
    font-weight: 600;
    width: 10vw;
    color: #421010;
    background-color: #DA5252;
    padding: 8%;
    border-radius: 15%;
}

.cabecalho_li_a:hover {
    background-color: #421010;
    color: #DA5252;
}