
.hero{
    position: relative;
    background-color: #421010;
    width: 100%;
    height: 100%;
    padding: 10%;
}

.hero_container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-image: linear-gradient(rgba(0,0,0,0.5)), url("../img/nat-jamaica.png");
    background-position: center;
    background-size: cover;
}